<div class="row-fluid">
  <br/>
  <div class="container">
    <ul class="actions fit small">
      <li>
        <a ng-class="{special: path == '/'}" href="#/" class="button alt fit small">Início</a>
      </li>
      <li>
        <a ng-class="{special: path == '/explore'}" href="#/explore" class="button alt fit small">Buscar</a>
      </li>
      <li>
        <a ng-class="{special: path == '/classroom'}" href="#/classroom" class="button alt fit small">Sala de Aula</a>
      </li>
    </ul>
    <h2 class="form-signin-heading">Sala de aula</h2>
    <div class="row uniform">
      <div class="3u 12u$(medium)">
        <button type="button" class="button alt small fit" ng-click="initVideo()">Iniciar Vídeo</button>
        <button type="button" class="button alt small fit" ng-click="initTogether()">Iniciar Compartilhamento</button>
        <button type="button" class="button alt small fit" data-toggle="modal" data-target="#event-info" ng-click="showInfo()">Mostrar informações</button>
        <button type="button" class="button small fit" ng-click="finishEvent()">Terminar aula</button>
        <div ng-show="videoOn">
          <h4>Seu vídeo</h4>
          <video class="12u" id="localVideo"></video>
        </div>
      </div>
      <div class="9u 12u$(medium)">
        <div ng-show="videoOn">
          <h4>Professor</h4>
          <div class="12u" id="remotesVideos"></div>
        </div>
        <div ng-show="togetherOn">
          <h4>Quadro de desenhos</h4>
          <style>
            .upper-button {
            	border-bottom-left-radius: 0px;
            	border-bottom-right-radius: 0px;
            }
            .bottom-button {
            	border-top-left-radius: 0px;
            	border-top-right-radius: 0px;
            }
            .black-pick:hover {
            	background-color: #000;
            	border-color: #000;
            }
            .black-pick {
            	border-color: #202020;
            }
          </style>
          <div class="btn-group btn-group-justified" style="margin-right: auto; margin-top: 10px; width: 70%;">
          </div>
          <div class="clearfix"></div>
          <div id="sketchContainer" style="width: 100%; height: 300px; border: 1px solid rgba(0,0,0,0.2)"><canvas id="sketch"></canvas></div>
          <div class="btn-group btn-group-justified" style="margin-right: auto; width: 70%;">
            <a class="btn btn-warning clear" style="width: 15%;">
              <i class="fa fa-times-circle"></i>
            </a>
            <a class="btn btn-default eraser bottom-button" style="width: 35%; border-top-width: 0px;">
              <i class="fa fa-eraser"></i>
            </a>
            <a class="btn btn-default color-picker black-pick upper-button" style="border-bottom-width: 0px;">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="event-info" tabindex="-1" style="z-index:10001">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Aula de {{eventChosen.attributes.language}}</h3>
      </div>
      <div class="modal-body">
        <h4>Tipo:</h4>
        <p>Aula <span ng-show="eventChosen.attributes.remote">remota </span>de <span ng-bind="eventChosen.attributes.language"/>.</p>
        <h4>Dia e Horário:</h4>
        <p>Na <span ng-bind="eventChosen.attributes.dia"/> de <span ng-bind="eventChosen.attributes.hora"/>.</p>
        <h4>Aluno:</h4>
        <p>{{eventChosen.attributes.student.attributes.username}}, {{eventChosen.attributes.student.attributes.email}}.</p>
        <h4>Professor:</h4>
        <p>{{eventChosen.attributes.teacher.attributes.username}}, {{eventChosen.attributes.teacher.attributes.email}}, que da aula de <span ng-repeat="lang in eventChosen.attributes.teacher.attributes.languages">{{lang}}<span ng-show="!$last">,</span></span>.</p>
        <h4>Status:</h4>
        <p>{{eventChosen.attributes.state}}.</p>
        <h4>Observações:</h4>
        <p>{{eventChosen.attributes.observations}}.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button alt small fit" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
