<div class="row-fluid">
  <br/>
  <div class="container">
    <div ng-show="logged">
      <ul class="actions fit small">
        <li>
          <a ng-class="{special: path == '/'}" href="#/" class="button alt fit small">Início</a>
        </li>
        <li>
          <a ng-class="{special: path == '/explore'}" href="#/explore" class="button alt fit small">Buscar Professores</a>
        </li>
        <li>
          <a ng-class="{special: path == '/classroom'}" href="#/classroom" class="button alt fit small">Sala de Aula</a>
        </li>
      </ul>
      <div class="row">
        <div class="5u 12u$(medium)">
          <h3>Buscar Professores</h3>
          <ul class="alt" class="5u 12u$(medium)">
            <li class="teacher_list" ng-repeat="teacher in teachers">
              <h4 ng-bind="teacher.attributes.username"></h4>
                <div ng-repeat="language in teacher.attributes.languages">
                  <h6 ng-bind="language"></h6>
                </div>
            </li>
          </ul>
        </div>
        <div class="7u$ 12u$(medium)">
          <div id='map' style="{width:100px}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
