<div class="row-fluid">
  <br/>
  <div class="container">
    <div ng-show="!logged">
      <form class="form-signin">
        <h2 class="form-signin-heading">Fazer Login</h2>
        <div class="form-group">
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control input-lg" placeholder="Username" required="" autofocus="" ng-model="username">
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control input-lg" placeholder="Password" required="" ng-model="password">
        </div>
        <br/>
        <div class="form-group">
          <ul class="actions">
  						<li><a class="button alt" type="submit" ng-click="login()">Entrar</a></li>
              <li>ou</li>
              <li><a class="button alt" href="#/signup">Cadastrar</a></li>
          </ul>
        </div>
      </form>
    </div>
    <div ng-show="logged">
      <ul class="actions fit small">
        <li>
          <a ng-class="{special: path == '/'}" href="#/" class="button alt fit small">Início</a>
        </li>
        <li>
          <a ng-class="{special: path == '/explore'}" href="#/explore" class="button alt fit small">Buscar Professores</a>
        </li>
        <li>
          <a ng-class="{special: path == '/classroom'}" href="#/classroom" class="button alt fit small">Sala de Aula</a>
        </li>
      </ul>
      <h2 class="form-signin-heading">Bem vindo <span ng-show="session.teacher">professor</span> {{username}}</h2>

      <div class="row">
        <div class="4u 12u$(medium)" ng-hide="editUser">
          <h3>Usuário</h3>
          <ul class="alt">
            <li><label>Nome de usuário</label> {{session.username}}</li>
            <li><label>Email do usuário</label> {{session.email}}</li>
            <li><label>Telefone do usuário</label> {{session.phone}}</li>
            <li><label>Descrição do usuário</label> {{session.description}}</li>
          </ul>
          <button class="button special fit small" ng-click="editUserInfo()">Alterar Dados</button>
        </div>
        <div class="4u 12u$(medium)" ng-show="editUser">
          <h3>Editar Usuário</h3>
          <ul class="alt">
            <li>
              <div class="12u 12u$(xsmall)">
                <label for="username">Nome de usuário</label>
                <input type="text" name="username" ng-model='username' />
              </div>
            </li>
            <li>
              <div class="12u 12u$(xsmall)">
                <label for="email">Email do usuário</label>
                <input type="text" name="email" ng-model='email' />
              </div>
            </li>
            <li>
              <div class="12u 12u$(xsmall)">
                <label for="phone">Telefone do usuário</label>
                <input type="text" name="phone" ng-model='phone' />
              </div>
              <div class="12u 12u$(xsmall)">
                <label for="adress">Endereço do usuário</label>
                <input type="text" name="adress" ng-model='adress' />
              </div>
              <div class="12u$">
                <label for="description">Breve descrição do usuário</label>
                <textarea name="description" rows="3" ng-model='description'></textarea>
              </div>
            </li>
          </ul>
          <ul class="actions fit">
            <li><button href="#" class="button special small fit" ng-click="updateUser()">Salvar</button></li>
            <li><button class="button small fit" ng-click="cancelEdit()">Cancelar</button></li>
          </ul>
        </div>
        <div class="8u$ 12u$(medium)">
          <h3>Compromissos</h3>
          <ul class="alt">
            <li ng-repeat="task in tasks">
              Aula - {{task.attributes.student}}
            </li>
            <li>Tipo - Descrição completa e geral... <a href="#{{path}}" class="button special small">Ação Positiva</a> <a href="#{{path}}" class="button alt small">Ação Neutra</a>  <a href="#{{path}}" class="button alt small disabled">Ação Negativa</a></li>
          </ul>
        </div>
      </div>
      <form class="form-signout">
        <br/><br/>
        <a href="#" class="button fit" type="submit" ng-click="logout()">Sair</a>
      </form>
    </div>
  </div>
</div>
