<!-- <fm-deliver-to></fm-deliver-to> -->
<div class="row-fluid">

  <div class="container">
    <div ng-show="!logged">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control input-lg" placeholder="Username" required="" autofocus="" ng-model="username">
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control input-lg" placeholder="Password" required="" ng-model="password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
      </form>
    </div>
  </div>
  <div ng-show="logged">
    <form class="form-signout">
      <h2>Welcome {{username}}</h2>
      <div class="btn-group-vertical">
                  <a href="#" class="btn btn-primary" ng-click="togetherLocal()">TogetherJS Local</a>
                  <a href="#" class="btn btn-primary" ng-click="togetherShared()">TogetherJS Compartilhado</a>
      </div>
      <br/><br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logout()">Sign Out</button>
    </form>
  </div>
</div>
</div>
