<div class="row-fluid">
  <br/>
  <div class="container">
    <div ng-show="!logged">
      <form class="form-signin">
        <h2 class="form-signin-heading">Fazer Login</h2>
        <div class="form-group">
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control input-lg" placeholder="Username" required="" autofocus="" ng-model="username">
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control input-lg" placeholder="Password" required="" ng-model="password">
        </div>
        <br/>
        <div class="form-group">
          <ul class="actions">
  						<li><a class="button alt" type="submit" ng-click="login()">Entrar</a></li>
              <li>ou</li>
              <li><a class="button alt" href="#/signup">Cadastrar</a></li>
          </ul>
        </div>
      </form>
    </div>
    <div ng-show="logged">
      <ul class="actions fit small">
        <li>
          <a ng-class="{special: path == '/'}" href="#/" class="button alt fit small">Início</a>
        </li>
        <li>
          <a ng-class="{special: path == '/explore'}" href="#/explore" class="button alt fit small">Buscar</a>
        </li>
        <!-- <li>
          <a ng-class="{special: path == '/classroom'}" href="#/classroom" class="button alt fit small">Sala de Aula</a>
        </li> -->
      </ul>
      <h2 class="form-signin-heading">Bem vindo <span ng-show="session.teacher">professor</span> {{username}}</h2>

      <div class="row uniform">
        <div class="4u 12u$(medium)" ng-hide="editUser">
          <h3>Usuário</h3>
          <ul class="alt">
            <li><label>Nome de usuário</label> {{session.username}}</li>
            <li><label>Email do usuário</label> {{session.email}}</li>
            <li><label>Telefone do usuário</label> {{session.phone}}</li>
            <li><label>Descrição do usuário</label> {{session.description}}</li>
          </ul>
          <button class="button special fit small" ng-click="editUserInfo()">Alterar Dados</button>
        </div>
        <div class="4u 12u$(medium)" ng-show="editUser">
          <h3>Editar Usuário</h3>
          <ul class="alt">
            <li>
              <div class="12u 12u$(xsmall)">
                <label for="username">Nome de usuário</label>
                <input type="text" name="username" ng-model='username' />
              </div>
            </li>
            <li>
              <div class="12u 12u$(xsmall)">
                <label for="email">Email do usuário</label>
                <input type="text" name="email" ng-model='email' />
              </div>
            </li>
            <li>
              <div class="12u 12u$(xsmall)">
                <label for="phone">Telefone do usuário</label>
                <input type="text" name="phone" ng-model='phone' />
              </div>
              <div class="12u 12u$(xsmall)">
                <label for="adress">Endereço do usuário</label>
                <input type="text" name="adress" ng-model='adress' />
              </div>
              <div class="12u$">
                <label for="description">Breve descrição do usuário</label>
                <textarea name="description" rows="3" ng-model='description'></textarea>
              </div>
            </li>
          </ul>
          <ul class="actions fit">
            <li><button href="#" class="button special small fit" ng-click="updateUser()">Salvar</button></li>
            <li><button class="button small fit" ng-click="cancelEdit()">Cancelar</button></li>
          </ul>
        </div>
        <div class="8u 12u$(medium) table-wrapper">
          <table>
            <thead><tr><th>Tipo</th><th>Descrição</th><th>Ações</th></tr></thead>
            <tbody>
              <tr ng-repeat="task in tasks">
                <td>Aula <span ng-show="task.attributes.recurrent">Recorrente</span></td>
                <td>Aula <span ng-show="task.attributes.remote">remota </span>de <span ng-bind="task.attributes.language"/>, na <span ng-bind="task.attributes.dia"/> de <span ng-bind="task.attributes.hora"/></td>
                <td>
                  <ul class="icons">
    								<li ng-show="!(task.attributes.state == 'refused')" ng-click="acceptEvent($index)">
                      <a class="icon fa-stack fa-lg" ng-show="(task.attributes.state == 'requested') && (task.attributes.teacher.id == session.objectId)">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-check fa-stack-1x"></i>
                      </a>
                      <a class="icon fa-stack fa-lg" ng-show="(task.attributes.state == 'approved')" ng-click="startEvent($index)">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-play fa-stack-1x"></i>
                      </a>
                    </li>
    								<li>
                      <a ng-click="showTaskInfo($index)" class="icon fa-stack fa-lg" data-toggle="modal" data-target="#event-info">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-info fa-stack-1x"></i>
                      </a>
                    </li>
    								<li ng-show="!(task.attributes.state == 'refused')" ng-click="refuseEvent($index)">
                      <a href="#" class="icon fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-times fa-stack-1x"></i>
                      </a>
                    </li>
					         </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <form class="form-signout">
        <br/><br/>
        <a href="#" class="button fit" type="submit" ng-click="logout()">Sair</a>
      </form>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="event-info" tabindex="-1" style="z-index:10001">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Aula de {{eventChosen.attributes.language}}</h3>
      </div>
      <div class="modal-body">
        <h4>Tipo:</h4>
        <p>Aula <span ng-show="eventChosen.attributes.remote">remota </span>de <span ng-bind="eventChosen.attributes.language"/>.</p>
        <h4>Dia e Horário:</h4>
        <p>Na <span ng-bind="eventChosen.attributes.dia"/> de <span ng-bind="eventChosen.attributes.hora"/>.</p>
        <h4>Aluno:</h4>
        <p>{{eventChosen.attributes.student.attributes.username}}, {{eventChosen.attributes.student.attributes.email}}.</p>
        <h4>Professor:</h4>
        <p>{{eventChosen.attributes.teacher.attributes.username}}, {{eventChosen.attributes.teacher.attributes.email}}, que da aula de <span ng-repeat="lang in eventChosen.attributes.teacher.attributes.languages">{{lang}}<span ng-show="!$last">,</span></span>.</p>
        <h4>Status:</h4>
        <p>{{eventChosen.attributes.state}}.</p>
        <h4>Observações:</h4>
        <p>{{eventChosen.attributes.observations}}.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button special small fit" ng-click="acceptEvent()" ng-show="eventChosen.attributes.state == 'requested' && (eventChosen.attributes.teacher.id == session.objectId)">Aceitar</button>
        <button type="button" class="button special small fit" ng-click="startEvent()" ng-show="eventChosen.attributes.state == 'approved'">Iniciar</button>
        <button type="button" class="button small fit" ng-click="refuseEvent()" ng-show="eventChosen.attributes.state != 'refused'">Recusar</button>
        <button type="button" class="button alt small fit" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
